* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center;
}


body {
margin: 20px;
background-color: #ffffff;
}



.button {
background-color: #ffffff;
margin-top: 15px;
padding: 10px 15px;
font-size: 16px;
}



.button:hover {
cursor: pointer;
background-color: darkblue;
color: #ffffff;
}